---
import Layout from "../layouts/Layout.astro";
---
<Layout tittle="contact">
  <h1 class="text-3xl font-bold">¡Bienvenido a Astro! 🌟</h1>
  <p>Este es un sitio web con un Navbar global.</p>
</Layout>
