---
import { categorias } from "@/data/categorias";
---

<nav class="bg-white shadow-md">
  <div class="max-w-6xl mx-auto px-4 py-4 flex justify-between items-center">
    <a href="/" class="text-xl font-semibold text-gray-900">Astro Amazon</a>

    <ul class="flex space-x-6">
      <!-- <li><a href="/" class="text-gray-700 hover:text-blue-600">Inicio</a></li> -->
      
      {categorias.map((categoria) => (
        <li>
          <a href={`/${categoria.nombre.toLowerCase()}`} class="text-gray-700 hover:text-blue-600 capitalize">
            {categoria.nombre}
          </a>
        </li>
      ))}
    </ul>
  </div>
</nav>
