<nav class="bg-blue-500 text-white p-4 flex justify-between">
    <a href="/" class="font-bold text-lg">🚀 Mi Sitio</a>
    <ul class="flex gap-4">
      <li><a href="/" class="hover:underline">Inicio</a></li>
      <li><a href="/about" class="hover:underline">Sobre Nosotros</a></li>
      <li><a href="/contact" class="hover:underline">Contacto</a></li>
    </ul>
  </nav>
  