---
import "swiper/css";
import "swiper/css/pagination";
import "swiper/css/autoplay";


const promociones = [
  { id: 1, imagen: "/images/book/habitos-atomicos-1.0.jpg", titulo: "Producto más vendido 1", descripcion: "Descripción del producto más vendido 1" },
  { id: 2, imagen: "/images/book/habitos-atomicos-2.0.jpg", titulo: "Producto más vendido 2", descripcion: "Descripción del producto más vendido 2" },
  { id: 3, imagen: "/images/book/habitos-atomicos-3.0.jpg", titulo: "Producto más vendido 3", descripcion: "Descripción del producto más vendido 3" },
  { id: 4, imagen: "/images/book/habitos-atomicos-1.0.jpg", titulo: "Producto más vendido 4", descripcion: "Descripción del producto más vendido 4" }
];
---

<div class="swiper w-full h-96 overflow-hidden relative">
  <div class="swiper-wrapper">
    {promociones.map((promo) => (
      <div class="swiper-slide flex justify-center items-center text-center bg-white">
        <img src={promo.imagen} alt={promo.titulo} class="w-full h-96 object-cover" />
        <div class="absolute bottom-0 left-0 right-0 bg-black bg-opacity-50 text-white p-6">
          <h3 class="text-2xl font-bold">{promo.titulo}</h3>
          <p class="text-lg">{promo.descripcion}</p>
        </div>
      </div>
    ))}
  </div>
  <div class="swiper-pagination absolute bottom-4 left-1/2 transform -translate-x-1/2 flex space-x-2"></div>
</div>

<script>
import Swiper from "swiper";
import { Pagination, Autoplay } from "swiper/modules";

document.addEventListener('DOMContentLoaded', () => {
  new Swiper('.swiper', {
    modules: [Pagination, Autoplay],
    loop: true,
    pagination: {
      el: '.swiper-pagination',
      clickable: true,
    },
    slidesPerView: 1,
    spaceBetween: 0,
    autoplay: {
      delay: 4000,
      disableOnInteraction: false,
    },
  });
});
</script>

<style>
  .swiper-pagination-bullet {
    background: #fff;
    opacity: 0.5;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    cursor: pointer;
    transition: opacity 0.3s ease;
  }

  .swiper-pagination-bullet-active {
    opacity: 1;
  }
</style>
